body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
}

.nav-link {
  color: inherit; 
  font-weight: normal;
  text-decoration: none;
  margin-right: 15px;
  padding-bottom: 2px;
  transition: color 0.3s ease;
}

.nav-link.active {
  color: #beddff; /* active state */
}

.nav-link:hover {
  font-weight: bold; /* Make text bold */
}

.react-logo {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -3px;
  animation: spin 5s infinite linear;
}

.made-with-react {
  animation: rainbow 1.5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Remove underline and set base styles for links */
a {
  text-decoration: none;
  color: black;
  transition: color 0.5s ease;
  font-weight: 700;
}

/* Rainbow effect on hover */
a:hover {
  animation: rainbow 1.5s infinite linear;
}

/* Define the rainbow animation */
@keyframes rainbow {
  0% { color: red; }
  16.7% { color: orange; }
  33.4% { color: yellow; }
  50% { color: green; }
  66.7% { color: blue; }
  83.4% { color: indigo; }
  100% { color: violet; }
}

/* Base style for input fields */
input, textarea {
  border: 2px solid black; /* Default border */
  outline: none; /* Remove the default outline */
  transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

/* Apply rainbow animation on focus */
input:focus, textarea:focus {
  animation: rainbow-border 1.5s infinite linear;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/* Define the rainbow border animation */
@keyframes rainbow-border {
  0% { border-color: red; }
  16.7% { border-color: orange; }
  33.4% { border-color: yellow; }
  50% { border-color: green; }
  66.7% { border-color: blue; }
  83.4% { border-color: indigo; }
  100% { border-color: violet; }
}
