body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
}

.nav-link {
  color: inherit; 
  font-weight: normal;
  text-decoration: none;
  margin-right: 15px;
  padding-bottom: 2px;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.nav-link.active {
  font-weight: bold; /* Make text bold */
  color: #beddff; /* active state */
}

.nav-link:hover {
  color: #419dff; /* Slightly darker blue on hover */
}

.react-logo {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  animation: spin 5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Remove underline and set base styles for links */
a {
  text-decoration: none;
  color: black; /* Set your default link color */
  transition: color 0.5s ease;
  font-weight: 700;
}

/* Rainbow effect on hover */
a:hover {
  animation: rainbow 1.5s infinite linear;
}

/* Define the rainbow animation */
@keyframes rainbow {
  0% { color: red; }
  16.7% { color: orange; }
  33.4% { color: yellow; }
  50% { color: green; }
  66.7% { color: blue; }
  83.4% { color: indigo; }
  100% { color: violet; }
}